body{
  background: #ebeef0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.section-content{
  background: #fff;
  padding: 15px;
}
.section-footer{
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
  background: #fff;
  box-shadow: 0px -5px 10px 0px #ccc;
}
.section-header{
  background-color: #fff;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  

}
.section-content{
  padding: 15px;
  background: #fff;
}
.section-header a.btn{
  color:#fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.admin-condition-container{

}